{% extends 'includes/base.html' %}


{% block content %}
    {% include 'includes/header.html' %}
    <div class="container">
        <div class="row">
            <div class="col s12 m12 center-align">
                <h1>{{posts.title}}</h1>
            </div>
            <div class="col s12 m2 push-m4">
                <div class="card">
                <div class="card-image">
                    <img src="{{posts.Reference_image.url}}" style="width: auto; height: auto;">
                </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6 m6 push-m1">
                {{posts.content|safe}}
                {{posts.content}}
            </div>
        </div>
    </div>
        {% include 'includes/footer.html' %}
{% endblock content %}
    