{% extends 'includes/base.html' %}
{% load static %}
{% block title %}
    Blogs
{% endblock title %}


{% block content %}
    {% include 'includes/header.html' %}
<!-- <div style="background-image: url(/static/images/python.jpg);"> -->
    <!-- <div class="parallax-container"> -->
        <!-- <div class="section no-pad-bot"> -->
            <div class="container">
                <div class="row">
                    {% for li in List %}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col s12 m6">
                                <div class="card red darken-4">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="{{li.Reference_image.url}}" alt="Imagen" style="width: 31em; height: 20em;">
                                    </div>
                                        <a class="btn-floating halfway-fab waves-effect waves-light red" href="{% url 'author_urls:base_Blog' li.id %}">
                                            <i class="material-icons">chrome_reader_mode</i>
                                        </a>
                                    <div class="card-content">
                                        <span class="card-title activator white-text">{{li.title}} {{li.id}}<i class="material-icons right">more_vert</i></span>
                                </div>
                                <div class="card-reveal grey darken-4 white-text">
                                    <span class="card-title white-text">Escrito por: {{li.name}}<i class="material-icons right">close</i></span>
                                    <p>{{ li.content|safe|slice:":100" }}</p>
                                </div>
                                </div>
                            </div>
                            <!-- <div class="col s12 m4">
                                <div class="card">
                                    <h1>CENTRO</h1>
                                </div>
                            </div>  -->
                            {% else %}
                            <div class="col s12 m6">
                                <div class="card red darken-4 pull-m2">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="{{li.Reference_image.url}}" alt="Imagen" style="width: 31em; height: 20em;">
                                    </div>
                                        <a class="btn-floating halfway-fab waves-effect waves-light red" href="{% url 'author_urls:base_Blog' li.id %}">
                                            <i class="material-icons">chrome_reader_mode</i>
                                        </a>
                                    <div class="card-content">
                                        <span class="card-title activator white-text">{{li.title}} {{li.id}}<i class="material-icons right">more_vert</i></span>
                                </div>
                                <div class="card-reveal grey darken-4 white-text">
                                    <span class="card-title white-text">Escrito por: {{li.name}}<i class="material-icons right">close</i></span>
                                    <p>{{ li.content|safe|slice:":100" }}</p>
                                </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        <!-- </div> -->
        <!-- <div class="parallax"><img src="{% static 'images/python.jpg' %}" alt="Unsplashed background img 1"></div> -->
    <!-- </div> -->
<!-- </div> -->

<div class="container">
    <!-- <div class="section no-pad-bot"></div> -->
        {% if is_paginated %}
                <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="activate deep-orange darken-3"><a href="?page={{page_obj.previous_page_number}}"><i class="material-icons white-text">chevron_left</i></a></li>
                {% endif %}

                {% for page in paginator.page_range %}
                    {% ifequal page page_obj.number %}
                    <h4 class="truncate">Pagina {{page}}</h4>
                    {% else %}
                        <li class="active deep-orange activate deep-orange darken-3"><a href="?page={{page}}" aria-label="Page">{{page}}</a></li>
                    {% endifequal %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="activate deep-orange darken-3"><a href="?page={{page_obj.next_page_number}}"><i class="material-icons white-text">chevron_right</i></a></li>
                {% endif %}
                </ul>
        {% endif %}
    <!-- </div> -->
<!-- <div class="parallax"><img src="{% static 'images/python.jpg' %}" alt="Unsplashed background img 1"></div> -->
</div>
<!-- 
<div class="container">
    <ul class="pagination">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      </ul>
</div> -->
{% include 'includes/footer.html' %}
{% endblock content %}
    