{% extends 'includes/base.html' %}


{% block content %}
    {% include 'includes/header.html' %}
    <div class="container">
        <form method="POST"> {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
    
    {% include 'includes/footer.html' %}
{% endblock content %}

    