<nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{% url 'home_urls:home' %}" class="brand-logo orange-text darken-4">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="orange-text darken-4" href="{% url 'author_urls:list_Blog' %}">Lista Blogs</a></li>
        <li><a class="orange-text darken-4" href="{% url 'home_urls:contact' %}">Contacto</a></li>
        <li><a class="orange-text darken-4" href="{% url 'home_urls:About_us' %}">Acerca de nosotros</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="{% url 'author_urls:base_Blog' 1 %}">Barra de navegacion</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>